{%load static %}


<style type="text/css">
    
  footer.text-center-text-lg-start.bg-light.text-muted .mt-4 section.container.text-center.text-md-start.mt-5  .row.mt-3 .col-md-2 .col-lg-2 .col-xl-2 .mx-auto .mb-4 p a.text-reset {
  
  
  text-decoration: none;
  
  
  } 
  
  </style>



<div class="row  ">
    <div class="container-fluid mt-2 mb-2" style="background: black;"> 
      <br>    
    </div>
  </div>
  
  <!-- Footer -->
  <footer class="text-center text-lg-start bg-light text-muted " >
  
    <!-- Section: Social media -->  
  
    <!-- Section: Links  -->
    <section class="" style="background-color:#3F3939; padding-top:20px;">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">



          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 style="color: #ffff" class="text-uppercase fw-bold mb-4">
           ENLACES DE INTERÉS
            </h6>
            <p style="color: #ffff">
              <a href="" class="text-reset">ENLACE 1</a>
            </p>
         
            <p style="color: #ffff">
              <a href="" class="text-reset" target="_blank" target="_blank">ENLACE 2</a>
            </p>
            <p style="color: #ffff">
              
            </p>
          </div>
          <!-- Grid column -->
  
  
  

  
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->

            <h6 style="color: #ffff" class="text-uppercase fw-bold mb-4">
              REDES SOCIALES
               </h6>
  
             <p style="color: #ffff">
              <a href="" 
              class="text-reset" 
              target="_blank" 
              style="text-decoration: none;">
              <i style="color: #ffff;"class="fa-brands fa-instagram-square"></i>
            instagram
              </a>
            </p>
  
    
  
             <p style="color: #ffff">
              <a href="" 
              class="text-reset" 
              style="text-decoration: none;" 
              target="_blank">
              <i style="color: #ffff;" 
              class="fa-brands fa-facebook" 
              target="_blank" 
              style="text-decoration: none;" ></i> 
              FACECBOOK
            </a>
            </p>
  
          </div>
          <!-- Grid column -->
  




          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto ">
            <!-- Links -->
     
         
          
          </div>
          <!-- Grid column -->
  


          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 style="color: #ffff" class="text-uppercase fw-bold mb-4">
              Información de Contacto
            </h6>
            <p style="color: #ffff"><i class="fas fa-phone me-3" style="color: #ffff"></i>+58 000000</p>
  
  
  
            <p style="color: #ffff">
              <i class="fas fa-envelope me-3" style="color: #ffff"></i> EJEMPLO@GMAIL.COMM
              </p>
           <br>
           <br>
          </div>
          <!-- Grid column -->
       
       
       
        </div>
        <!-- Grid row -->



      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="color:black;">
      © 2024 Copyright:
      <a class="text-reset fw-bold" href="">TRIME, C.A.</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->