{% comment %} ///////////////////////////////////////////////////////////// {% endcomment %}


<div class="card mb-4 shadow">
  <div class="card-header bg-dark text-light">
    <i class="fas fa-table   me-1 text-light"></i>
    LISTA DE ORDENES DE COMPRA
  </div>
  <nav>
    <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-NUEVOS-OC-tab" data-bs-toggle="tab" data-bs-target="#nav-NUEVOS-OC"
        type="button" role="tab" aria-controls="nav-NUEVOS-OC" aria-selected="true">NUEVOS</button>
      <button class="nav-link" id="nav-RECHAZADO-OC-tab" data-bs-toggle="tab" data-bs-target="#nav-RECHAZADO-OC"
        type="button" role="tab" aria-controls="nav-RECHAZADO-OC" aria-selected="false">RECHAZADO</button>
      <button class="nav-link " id="nav-FIRMADO-OC-tab" data-bs-toggle="tab" data-bs-target="#nav-FIRMADO-OC"
        type="button" role="tab" aria-controls="nav-FIRMADO-OC" aria-selected="false">FIRMADOS</button>
      <button class="nav-link" id="nav-ALL-OC-tab" data-bs-toggle="tab" data-bs-target="#nav-ALL-OC" type="button"
        role="tab" aria-controls="nav-ALL-OC" aria-selected="false">TODO</button>

    </div>
  </nav>






  <div class="tab-content p-3 border bg-light" id="nav-tabContent">




    {% comment %} //////////////NUEVOS-OC ////////////////{% endcomment %}

    <div class="tab-pane fade active show" id="nav-NUEVOS-OC" role="tabpanel" aria-labelledby="nav-NUEVOS-OC-tab">

      <div class="card-body table-responsive">

        <table id="myTable" class="
                table 
                table-striped   
                table-bordered   
                table-hover 
                table-secondary 
                text-center 
                dataTable 
                display 
                table-hover
                ">
          <thead>
            <tr>
              <th style="text-align: center;">#OC</th>


              {% if user.groups.all.0.name == "GERENCIA GENERAL" %}

              <th style="text-align: center;">ENVIADO POR:</th>

              {%endif%}


              {% comment %} <th style="text-align: center;">ORDENES DE COMPRA</th> {% endcomment %}
              <th style="text-align: center;">FECHA</th>
              <th style="text-align: center;">Estatus</th>
              <th style="text-align: center;">OPCIONES</th>

            </tr>
          </thead>
          <tbody>

            {% for pdf in ordenes_compra_enviadas_N %}


            <tr>
              <td>{{pdf.id}}</td>







              {% if user.groups.all.0.name == "GERENCIA GENERAL" %}

              <td>{{pdf.usuario}}</td>


              {%endif%}



              <td>{{pdf.fecha_creacion|date:"d/m/Y"}}</td>





              {% if user.groups.all.0.name == "GERENCIA GENERAL" %}

              <td>
                <span class="badge bg-warning text-dark "> {{pdf.ESTATUS_DOCUMENTO}}</span>

              </td>


              {%else%}


              <td>
                <span class="badge bg-primary"> {{pdf.ESTATUS_DOCUMENTO}}</span>

              </td>


              {%endif%}





              <td>

                {% comment %} <a class="btn  btn-sm btn-primary" href=" {{pdf.documento_pdf.url}} " target="_blank">ver
                </a>
                {% endcomment %}

                <!-- Button to Open the Modal -->
                <button type="button" class="btn  btn-sm btn-primary" data-toggle="modal"
                  data-target="#odcmodaln{{forloop.counter0}}">
                  Ver
                </button>

                {% include "./modal_template.html" with title=pdf.id title2="ORDEN DE COMPRA" documento="odcmodaln"
                pdf=pdf.documento_pdf.url enviado=pdf %}



                {% if user.groups.all.0.name == "GERENCIA GENERAL" %}

                {% if pdf.ESTATUS_DOCUMENTO == "Firmado por Compras" %}

                <a href="{% url 'sign_pdf' pdf.id %}" class="btn  btn-sm btn-success btnEliminacion"> FIRMAR</i></a>

                <button onclick="redirectToUrl('{{pdf.id}}', 'ordencomprasgerentecambiarEstatusPdf')"
                  class="btn btn-sm btn-decline btnEliminacion">RECHAZAR</button>



                {%else%}



                {%endif%}




                {%elif user.groups.all.1.name == "GERENTE DE DEPARTAMENTO DE COMPRAS" %}


                {% if pdf.ESTATUS_DOCUMENTO == "ENVIADO" %}

                <a href="{% url 'sign_pdf' pdf.id %}" class="btn  btn-sm btn-success btnEliminacion">FIRMAR</i></a>

                <a href="{% url 'ordencomprasgerentecambiarEstatusPdf' pdf.id   %}"
                  class="btn  btn-sm btn-decline btnEliminacion">
                  RECHAZAR</i></a>


                {%else%}




                {%endif%}



                {%endif%}

              </td>
            </tr>



            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>



    {% comment %} //////////////RECHAZADOS ////////////////{% endcomment %}

    <div class="tab-pane fade" id="nav-RECHAZADO-OC" role="tabpanel" aria-labelledby="nav-RECHAZADO-OC-tab">

      <div class="card-body table-responsive">

        <table id="myTable" class="
                table 
                table-striped   
                table-bordered   
                table-hover 
                table-secondary 
                text-center 
                dataTable 
                display 
                table-hover
                ">
          <thead>
            <tr>
              <th style="text-align: center;">#OC</th>


              {% if user.groups.all.0.name == "GERENCIA GENERAL" %}
              <th style="text-align: center;">ENVIADO POR:</th>

              {%endif%}


              {% comment %} <th style="text-align: center;">ORDENES DE COMPRA</th> {% endcomment %}
              <th style="text-align: center;">FECHA</th>
              <th style="text-align: center;">Estatus</th>
              <th style="text-align: center;">OPCIONES</th>

            </tr>
          </thead>
          <tbody>

            {% for pdf in ordenes_compra_enviadas_R %}


            <tr>
              <td>{{pdf.id}}</td>







              {% if user.groups.all.0.name == "GERENCIA GENERAL" %}

              <td>{{pdf.usuario}}</td>


              {%endif%}



              <td>{{pdf.fecha_creacion|date:"d/m/Y"}}</td>
              <td>

                <span class="badge bg-danger"> {{pdf.ESTATUS_DOCUMENTO}}</span>



              </td>


              <td>

                {% comment %} <a class="btn  btn-sm btn-primary" href=" {{pdf.documento_pdf.url}} " target="_blank">ver
                </a>
                {% endcomment %}

                <!-- Button to Open the Modal -->
                <button type="button" class="btn  btn-sm btn-primary" data-toggle="modal"
                  data-target="#odcmodalr{{forloop.counter0}}">
                  Ver
                </button>

                {% include "./modal_template.html" with title=pdf.id title2="ORDEN DE COMPRA" documento="odcmodalr"
                pdf=pdf.documento_pdf.url enviado=pdf %}



                {% if user.groups.all.0.name == "GERENCIA GENERAL" %}

                {% if pdf.ESTATUS_DOCUMENTO == "ENVIADO" %}
                <a href="{% url 'sign_pdf' pdf.id %}" class="btn  btn-sm btn-success btnEliminacion"> FIRMAR</i></a>

                <a href="{% url 'ordencomprasgerentecambiarEstatusPdf' pdf.id   %}"
                  class="btn  btn-sm btn-decline btnEliminacion">
                  RECHAZAR</i></a>

                {%else%}


                {%endif%}

                {%else%}


                {%endif%}

              </td>
            </tr>

            {%endfor%}
          </tbody>
        </table>


      </div>
    </div>







    {% comment %} //////////////FIRMADOS ////////////////{% endcomment %}

    <div class="tab-pane fade" id="nav-FIRMADO-OC" role="tabpanel" aria-labelledby="nav-FIRMADO-OC-tab">

      <div class="card-body table-responsive">

        <table id="myTable" class="
        table 
        table-striped   
        table-bordered   
        table-hover 
        table-secondary 
        text-center 
        dataTable 
        display 
        table-hover
        ">
          <thead>
            <tr>
              <th style="text-align: center;">#OC</th>





              {% if user.groups.all.0.name == "GERENCIA GENERAL" %}

              <th style="text-align: center;">ENVIADO POR:</th>

              {%endif%}





              {% comment %} <th style="text-align: center;">ORDENES DE COMPRA</th> {% endcomment %}
              <th style="text-align: center;">FECHA</th>
              <th style="text-align: center;">Estatus</th>
              <th style="text-align: center;">OPCIONES</th>
            </tr>
          </thead>
          <tbody>

            {% for pdf in ordenes_compra_enviadas_F %}


            <tr>
              <td>{{pdf.id}}</td>







              {% if user.groups.all.0.name == "GERENCIA GENERAL" %}

              <td>{{pdf.usuario}}</td>


              {%endif%}


              <td>{{pdf.fecha_creacion|date:"d/m/Y"}}</td>


              <td>

                {% if pdf.ESTATUS_DOCUMENTO == "Firmado por Compras" %}

                <span class="badge bg-warning text-dark "> {{pdf.ESTATUS_DOCUMENTO}}</span>

                {% elif pdf.ESTATUS_DOCUMENTO == "Firmado por GG" %}



                <span class="badge bg-success"> {{pdf.ESTATUS_DOCUMENTO}}</span>


                {%endif%}

              </td>




              <td>

                {% comment %} <a class="btn  btn-sm btn-primary" href=" {{pdf.documento_pdf.url}} " target="_blank">ver
                </a>
                {% endcomment %}

                <!-- Button to Open the Modal -->
                <button type="button" class="btn  btn-sm btn-primary" data-toggle="modal"
                  data-target="#odcmodalf{{forloop.counter0}}">
                  Ver
                </button>

                {% include "./modal_template.html" with title=pdf.id title2="ORDEN DE COMPRA" documento="odcmodalf"
                pdf=pdf.documento_pdf.url enviado=pdf %}


                {% if user.groups.all.0.name == "GERENCIA GENERAL" %}

                {% if pdf.ESTATUS_DOCUMENTO == "ENVIADO" %}

                <a href="{% url 'sign_pdf' pdf.id %}" class="btn  btn-sm btn-success btnEliminacion"> FIRMAR</i></a>

                <a href="{% url 'ordencomprasgerentecambiarEstatusPdf' pdf.id   %}"
                  class="btn  btn-sm btn-decline btnEliminacion">
                  RECHAZAR</i></a>



                {%else%}



                {%endif%}

                {% elif user.groups.all.0.name == "GERENTE DE DEPARTAMENTO DE COMPRAS" %}


                {% if pdf.ESTATUS_DOCUMENTO == "ENVIADO" %}

                <a href="{% url 'sign_pdf' pdf.id %}" class="btn  btn-sm btn-success btnEliminacion"> FIRMAR</i></a>


                {%else%}



                {%endif%}




                {%else%}


                {%endif%}



              </td>
            </tr>

            {%endfor%}
          </tbody>
        </table>

      </div>
    </div>






    {% comment %} //////////////TODOS ////////////////{% endcomment %}

    <div class="tab-pane fade" id="nav-ALL-OC" role="tabpanel" aria-labelledby="nav-ALL-OC-tab">

      <div class="card-body table-responsive">

        <table id="myTable" class="
        table 
        table-striped   
        table-bordered   
        table-hover 
        table-secondary 
        text-center 
        dataTable 
        display 
        table-hover
        ">
          <thead>
            <tr>
              <th style="text-align: center;">#OC</th>





              {% if user.groups.all.0.name == "GERENCIA GENERAL" %}

              <th style="text-align: center;">ENVIADO POR:</th>

              {%endif%}





              {% comment %} <th style="text-align: center;">ORDENES DE COMPRA</th> {% endcomment %}
              <th style="text-align: center;">FECHA</th>
              <th style="text-align: center;">Estatus</th>
              <th style="text-align: center;">OPCIONES</th>

            </tr>
          </thead>
          <tbody>

            {% for pdf in ordenes_compra_enviadas %}


            <tr>
              <td>{{pdf.id}}</td>







              {% if user.groups.all.0.name == "GERENCIA GENERAL" %}

              <td>{{pdf.usuario}}</td>


              {%endif%}



              <td>{{pdf.fecha_creacion|date:"d/m/Y"}}</td>





              <td>




                {% if pdf.ESTATUS_DOCUMENTO == "Rechazado por Compras" or pdf.ESTATUS_DOCUMENTO == "Rechazado por GG"%}

                <span class="badge bg-danger"> {{pdf.ESTATUS_DOCUMENTO}}</span>


                {% elif pdf.ESTATUS_DOCUMENTO == "Firmado por Compras" %}

                <span class="badge bg-warning text-dark "> {{pdf.ESTATUS_DOCUMENTO}}</span>

                {% elif pdf.ESTATUS_DOCUMENTO == "Firmado por GG" %}



                <span class="badge bg-success"> {{pdf.ESTATUS_DOCUMENTO}}</span>





                {%else%}



                <span class="badge bg-primary"> {{pdf.ESTATUS_DOCUMENTO}}</span>


                {%endif%}


              </td>


              <td>

                {% comment %} <a class="btn  btn-sm btn-primary" href=" {{pdf.documento_pdf.url}} " target="_blank">ver
                </a>
                {% endcomment %}

                <!-- Button to Open the Modal -->
                <button type="button" class="btn  btn-sm btn-primary" data-toggle="modal"
                  data-target="#odcmodalall{{forloop.counter0}}">
                  Ver
                </button>

                {% include "./modal_template.html" with title=pdf.id title2="ORDEN DE COMPRA" documento="odcmodalall"
                pdf=pdf.documento_pdf.url enviado=pdf %}



                {% if user.groups.all.0.name == "GERENCIA GENERAL" %}

                {% if pdf.ESTATUS_DOCUMENTO == "ENVIADO" %}

                <a href="{% url 'sign_pdf' pdf.id %}" class="btn  btn-sm btn-success btnEliminacion"> FIRMAR</i></a>

                <a href="{% url 'ordencomprasgerentecambiarEstatusPdf' pdf.id   %}"
                  class="btn  btn-sm btn-decline btnEliminacion">
                  RECHAZAR</i></a>



                {%else%}




                {%endif%}




                {%elif user.groups.all.1.name == "GERENTE DE DEPARTAMENTO DE COMPRAS" %}


                {% if pdf.ESTATUS_DOCUMENTO == "ENVIADO" %}

                <a href="{% url 'sign_pdf' pdf.id %}" class="btn  btn-sm btn-success btnEliminacion">FIRMAR</i></a>


                {%else%}




                {%endif%}



                {%endif%}

              </td>
            </tr>

            {%endfor%}
          </tbody>
        </table>

      </div>
    </div>




  </div>
</div>




{% block javascript %}


<script>



  $(document).ready(function () {



    $('table.display').DataTable({
      columnDefs: [
        {
          targets: [ 0 ],
          orderData: [ 0, 1 ],
        },
        {
          targets: [ 1 ],
          orderData: [ 1, 0 ],
        },
        {
          targets: [ 3 ],
          orderData: [ 3, 0 ],
        },
      ],

      dom: 'lBfrtip',
      buttons: [
        //'copy', 'csv', 'excel', 'pdf', 'print'
      ],
      language: {
        "decimal": "",
        "emptyTable": "No hay información",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "Mostrar _MENU_ Entradas",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "Sin resultados encontrados",
        "paginate": {
          "first": "Primero",
          "last": "Ultimo",
          "next": "Siguiente",
          "previous": "Anterior"
        }


      },

    });






  });


  function redirectToUrl(id, action) {
    if (confirm('¿Está seguro que desea rechazar este documento?')) {
      window.location.href = `/FPDFS/${action}/${id}/`;
    }
  }
</script>

{% endblock %}