{%load static %}

<nav class="navbar navbar-expand-lg" style="background-color:#161026;">
    <div class="container-fluid">
       <a class="navbar-brand" href="{% url 'inicio' %}">
        <img src="{% static 'images/logo_blanco_mexico.png' %}" alt="logo" width="200" height="">
      </a>
  
   
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-space-between" id="navbarSupportedContent">
  
        <ul class="navbar-nav   mb-lg-0">
          <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" aria-current="page"  style="color:#ffff;" href="{% url 'inicio' %}">Inicio</a>
          </li>
  
  
          {% if request.user.is_staff  %}
  
           <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" aria-current="page"  style="color:#ffff;" href="{% url 'admin_user' %}">Entrenadores</a>
          </li>
  
  
          <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" aria-current="page"  style="color:#ffff;" href="{% url 'participantes_admin' %}">Participantes</a>
          </li>
  
            <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" aria-current="page"  style="color:#ffff;" href="{% url 'equipos_admin' %}">Admin Equipos</a>
          </li>


          {% comment %} <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" aria-current="page"  style="color:#ffff;" href="{% url 'eventos_jueces_regionales' %}">Eventos</a>
          </li>


          <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" aria-current="page"  style="color:#ffff;" href="{% url 'subirimagenes_resultadosv' %}">Resultados</a>
          </li>
  
          
          <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" aria-current="page"  style="color:#ffff;" href="{% url 'estadistica_admin' %}">Estadistica Regionales</a>
          </li> {% endcomment %}


          
        <li class="nav-item dropdown" style="margin: 0 10px;">
          <a class="nav-link dropdown-toggle" href="#" style="color:#ffff;"  id="navbarDropdown"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Eventos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      
            <a class="dropdown-item" href="{% url 'subirimagenes_resultadosv' %}">Resultados</a>
            <a class="dropdown-item" href="{% url 'eventos_jueces_regionales' %}"> Formulario de Evaluación</a>
           
      
          </div>
        </li>





        <li class="nav-item dropdown" style="margin: 0 10px;">
          <a class="nav-link dropdown-toggle" href="#" style="color:#ffff;"  id="navbarDropdown"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Estadisticas Regionales
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      
            <a class="dropdown-item" href="{% url 'estadistica_admin' %}">Graficas  Regionales</a>
            <a class="dropdown-item" href="{% url 'estadisticas_wro' %}">Usuarios Regionales</a>
           
      
          </div>
        </li>

  
          {% comment %} <li class="nav-item" style="margin: 0 10px;">
          <a class="nav-link active" aria-current="page"  style="color:#ffff;" href="{% url 'meduca_regionales' %}"    >Todas las regionales</a>
        </li>
  
  
        <li class="nav-item dropdown" style="margin: 0 10px;">
          <a class="nav-link dropdown-toggle"  style="color:#ffff;"  id="navbarDropdown"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Asistencia
          </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'voluntarios_categoria' %}">Asistencia Regional </a>
        
      </div>
    </li>
  
  
    <li class="nav-item dropdown" style="margin: 0 10px;">
      <a class="nav-link dropdown-toggle"  style="color:#ffff;"  id="navbarDropdown"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Formulario Jueces
      </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="{% url 'formularios_jueces_regionales' %}">Formulario Jueces </a>
  
      
      </div>
      </li> {% endcomment %}
  
  
  
   
  
  
  
     
  
       
    
  
        {% comment %} <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" aria-current="page"   style="color:#ffff;" href="{% url 'resultados_comentarios' %}">Resultados Detallados </a>
        </li>  {% endcomment %}
  
  
       
  
          {% comment %} <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" href="{% url 'estadisticas_wro_virtuales' %}" aria-current="page"  style="color:#ffff;" >Equipos Virtuales</a>
          </li> {% endcomment %}
  
  
          {% comment %} <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" href="{% url 'asistencia_equipos_nacional' %}" aria-current="page"  style="color:#ffff;" >Asistencia de Final Nacional</a>
          </li>
  
          <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" href="{% url 'asistencia_documentos_equipos_nacional' %}" aria-current="page"  style="color:#ffff;" >Asistencia  por documentos</a>
          </li>
  
  
          <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" href="{% url 'equipos_nacional' %}" aria-current="page"  style="color:#ffff;" >Informes de Equipo</a>
          </li>
  
          
          <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" href="{% url 'formularios_jueces' %}" aria-current="page"  style="color:#ffff;" >Formulario Final Nacional</a>
          </li> {% endcomment %}
  
          {% comment %} <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" href="{% url 'resultados_final_nacional' %}" aria-current="page"  style="color:#ffff;" >Resultados Final Nacional</a>
          </li> {% endcomment %}
  
  
           {% comment %} <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" href="{% url 'guia' %}" aria-current="page"  style="color:#ffff;" >Guia</a>
          </li>
          <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active"  aria-current="page"  style="color:#ffff;" href="https://wropanama.org">WROPANAMA2023</a>
          </li> {% endcomment %}
  
          <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" aria-current="page"  style="color:#ffff; font-weight:bold;" href="{% url 'usuarios' %}">{{user.username}}</a>
          </li>
  
          
  
          <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" aria-current="page"  style="color:#ffff;" href="{% url 'logout' %}">Salir</a>
          </li>
  
        
          {% elif user.username == "admin_MINCYT" %}
  
          {% comment %} <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" aria-current="page"  style="color:#ffff;" href="{% url 'admin_user' %}">Entrenadores</a>
          </li>
  
  
          <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" aria-current="page"  style="color:#ffff;" href="{% url 'participantes_admin' %}">Participantes</a>
          </li> {% endcomment %}
  
          <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" aria-current="page"  style="color:#ffff;" href="{% url 'equipos_admin' %}">Admin Equipos</a>
          </li>
  
          <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" href="{% url 'meduca_regionales' %}" aria-current="page"  style="color:#ffff;" >Equipos Por Categoria</a>
          </li>
  
          {% comment %} <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" href="{% url 'meduca_regionales_eventos' %}" aria-current="page"  style="color:#ffff;" >Equipos Por Evento</a>
          </li> {% endcomment %}
  
          {% comment %} <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" aria-current="page"  style="color:#ffff;" href="{% url 'estadistica_admin' %}">Estadistica Regionales</a>
          </li> {% endcomment %}
  
          <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" aria-current="page"  style="color:#ffff; font-weight:bold;" href="{% url 'usuarios' %}">{{user.username}}</a>
          </li>
  
  
          <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" aria-current="page"  style="color:#ffff;" href="{% url 'logout' %}">Salir</a>
          </li>
  
  
  
         
          {% elif user.username == "juezmr"  %}
  
          <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" href="{% url 'formularios_jueces_regionales' %}" aria-current="page"  style="color:#ffff;" >Formulario Jueces</a>
          </li>
  
          <li class="nav-item" style="margin: 0 10px;">
         
            <a class="nav-link active" aria-current="page" style="color:#ffff;"  href="{% url 'asistencia_documentos_equipos_regional' '08 de septiembre |  Gimnasio 12 de Febrero San Fernando de Apure | MINCYT | Región Llanera - Andina'   %}"> Asistencia  por documentos |Región Llanera - Andina</a>
         
          </li>
  
  
          <li class="nav-item" style="margin: 0 10px;">
         
            <a class="nav-link active" aria-current="page" style="color:#ffff;"  href="{% url 'equipos_regionales' '08 de septiembre |  Gimnasio 12 de Febrero San Fernando de Apure | MINCYT | Región Llanera - Andina'   %}"> Informes de Equipo |Región Llanera - Andina  </a>
         
          </li>
  
              
        <li class="nav-item" style="margin: 0 10px;">
        
          <a class="nav-link active" aria-current="page" style="color:#ffff;"  href="{% url 'resultados_detallados' '08 de septiembre |  Gimnasio 12 de Febrero San Fernando de Apure | MINCYT | Región Llanera - Andina'   %}"> Resultados Regionales |Región Llanera - Andina </a>
        
        </li>    
  
      <li class="nav-item" style="margin: 0 10px;">
          <a class="nav-link active" aria-current="page"   style="color:#ffff;" href="{% url 'resultadosregional_comentarios' '08 de septiembre |  Gimnasio 12 de Febrero San Fernando de Apure | MINCYT | Región Llanera - Andina' %}">Resultados Detallados |Región Llanera - Andina</a>
      </li> 
  
  
  
          {% comment %} <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" href="{% url 'formularios_jueces' %}" aria-current="page"  style="color:#ffff;" >Formulario Final Nacional</a>
          </li>
  
          <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" href="{% url 'resultados_final_nacional' %}" aria-current="page"  style="color:#ffff;" >Resultados Final Nacional</a>
          </li>
  
          <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" href="{% url 'equipos_nacional' %}" aria-current="page"  style="color:#ffff;" >Informes de Equipo</a>
          </li> {% endcomment %}
  
  
          <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" aria-current="page"  style="color:#ffff; font-weight:bold;" href="{% url 'usuarios' %}">{{user.username}}</a>
          </li>
  
           <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" aria-current="page"  style="color:#ffff;" href="{% url 'logout' %}">Salir</a>
          </li>
  
  
          {% elif user.username == "juezmr_2"  %}
  
          <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" href="{% url 'formularios_jueces_regionales' %}" aria-current="page"  style="color:#ffff;" >Formulario Jueces</a>
          </li>
  
          <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" href="{% url 'asistencia_documentos_equipos_regional' '08 de septiembre |  Gimnasio 12 de Febrero San Fernando de Apure | MINCYT | Región Llanera - Andina'  %}" aria-current="page"  style="color:#ffff;" >Asistencia  por documentos |Región Llanera - Andina</a>
          </li>
  
  
          <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" href="{% url 'equipos_regionales' '08 de septiembre |  Gimnasio 12 de Febrero San Fernando de Apure | MINCYT | Región Llanera - Andina'  %}" aria-current="page"  style="color:#ffff;" >Informes de Equipo |Región Llanera - Andina</a>
          </li>
  
              
        <li class="nav-item" style="margin: 0 10px;">
          <a class="nav-link active" aria-current="page" style="color:#ffff;" href="{% url 'resultados_detallados' '08 de septiembre |  Gimnasio 12 de Febrero San Fernando de Apure | MINCYT | Región Llanera - Andina'    %}">Resultados Regionales |Región Llanera - Andina</a>
        </li>    
  
        <li class="nav-item" style="margin: 0 10px;">
          <a class="nav-link active" aria-current="page"   style="color:#ffff;" href="{% url 'resultadosregional_comentarios' '08 de septiembre |  Gimnasio 12 de Febrero San Fernando de Apure | MINCYT | Región Llanera - Andina' %}">Resultados Detallados |Región Llanera - Andina</a>
      </li> 
  
  
  
  
        
  
  
  
          {% comment %} <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" href="{% url 'formularios_jueces' %}" aria-current="page"  style="color:#ffff;" >Formulario Final Nacional</a>
          </li>
  
          <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" href="{% url 'resultados_final_nacional' %}" aria-current="page"  style="color:#ffff;" >Resultados Final Nacional</a>
          </li>
  
          <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" href="{% url 'equipos_nacional' %}" aria-current="page"  style="color:#ffff;" >Informes de Equipo</a>
          </li> {% endcomment %}
  
  
          <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" aria-current="page"  style="color:#ffff; font-weight:bold;" href="{% url 'usuarios' %}">{{user.username}}</a>
          </li>
  
           <li class="nav-item" style="margin: 0 10px;">
            <a class="nav-link active" aria-current="page"  style="color:#ffff;" href="{% url 'logout' %}">Salir</a>
          </li>
  
          
        
  
        
       {% endif %}
       
        
        </ul>
      
      </div>
    </div>
  </nav>
  


  


{% if messages %}
{% for message in messages %}
  <div class="alert alert-{{message.tags}} fade show .fade-out">{{message}}</div>

{% endfor %}
{% endif %}
